
/*Background color*/
.body {
  background: #D3D3D3; 
}

/*Navigation bar*/
.navbar-brand {
  background-color: #5F9EA0; 
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-nav {
font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #5F9EA0; 
  padding-top: 30px;
  padding-left: 165px;
  padding-bottom: 40px;
}

.form.group {
  padding-left: 100px;
}

.card-title {
  font-family: 'Noto Sans JP', sans-serif;
  color: #5F9EA0; 
}

/*Footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5F9EA0; 
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
  }

