
/*Here you can edit the baackground color of site*/
.body {
  background: #D3D3D3; 
}

/*Here you can edit the navigation bar of site*/
.navbar-brand {
  background-color: #5F9EA0; 
  font-family: 'Noto Sans JP', sans-serif;
}

.navbar-nav {
font-family: 'Noto Sans JP', sans-serif;
}

/*Here you can edit the headers of site pages*/

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: #5F9EA0; 
  padding-top: 30px;
  padding-left: 165px;
  padding-bottom: 40px;
}

/*Here you can edit the contact form*/

.form-group {
padding-left: 165px; 
}

.form {
  padding-left: 165px;
}

/*Here you can edit the contact form submit button*/

input[type=button], input[type=submit], input[type=reset] {
  background-color:#5F9EA0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/*Here you can edit the About page content card*/

.card-title {
  font-family: 'Noto Sans JP', sans-serif;
  color: #5F9EA0; 
}

/*Here you can edit the footer of the site*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5F9EA0; 
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
  }

